@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 6.7%;

    --muted: 0 0% 98%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 6.7%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 6.7%;

    --border: 0 0% 70.3%;
    --input: 0 0% 93.3%;

    --button-bg: 0 0% 93.3%;
    --button-hover: 0 0% 86.7%;

    --primary: 0 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --chart-1: 0 100% 50%;
    --chart-2: 214 100% 49%;
    --chart-3: 135 53% 46%;
    --chart-4: 45 100% 51%;
    --chart-5: 261 51% 51%;
    --font-poppins: "Poppins", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 100%;

    --muted: 0 0% 13.3%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 100%;

    --card: 0 0% 9%;
    --card-foreground: 0 0% 100%;

    --button-bg: 0, 2%, 22%;
    --button-hover: 0, 2%, 29%;

    --border: 0 0% 18.4%;
    --input: 0 0% 18.4%;

    --primary: 0 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 100%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --ring: 0 0% 83.1%;

    --chart-1: 0 100% 50%;
    --chart-2: 214 100% 49%;
    --chart-3: 135 53% 46%;
    --chart-4: 45 100% 51%;
    --chart-5: 261 51% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/Open_Sans//OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}